:root {
  --primary: #8b0000;
  --secondary: #bcbcbc;
  --accent: #ffffff;
  --background: #f5f5f5;
  --gold: #ffd700;
}
.header {
  background-color: var(--primary);
  color: var(--gold);
}
#headerInfo {
  background-color: ;
}
a {
  color: var(--gold);
}
.emoji {
  color: transparent;
  text-shadow: 0 0 0 var(--gold);
}

#bookRoomContainer {
  background-color: var(--primary);
  color: var(--gold);
  border-color: var(--gold);
}
#navMenuContainer {
  border-color: var(--gold);
}
.navMenu {
  background-color: var(--primary);
  color: var(--gold);
  border-color: var(--gold);
}
button {
  background-color: #620202;
}
html {
  background-color: var(--background);
}
article {
  background-color: var(--background);
}
#advantages > li {
  background-color: var(--primary);
  color: var(--gold);
  border: solid var(--gold);
}

.footer {
  background-color: var(--primary);
  color: var(--gold);
}
