:root {
  --primary: #8b0000;
  --button: #6e0707;
  --secondary: #fac5c5;
  --accent: #ffffff;
  --main: #ffe4e0;
  --text: #000000;
  --h3: #170714;
  --article: white;
  --highlight: #ffd700;
  --text: black;
}
.darkTheme {
  --primary: #2a019c;
  --button: #1d0365;

  --secondary: #090028;
  --accent: #ffffff;
  --main: #0f0d7a;
  --h3: #94fff8;
  --text: #ffffff;
  --article: #01003f;
  --highlight: #65f7ff;
  --text: #ecedf6;
}
body {
  background-color: var(--secondary);
}
main {
  background-color: var(--main);
  color: var(--text);
}
article {
  background-color: var(--main);
  color: var(--text);
}

h3 {
  color: var(--h3);
}
.header {
  background-color: var(--primary);
  color: var(--highlight);
}
#headerInfo {
  background-color: var(--primary);
}
a {
  color: var(--highlight);
}
.emoji {
  color: transparent;
  text-shadow: 0 0 0 var(--highlight);
}

#bookRoomContainer {
  background-color: var(--primary);
  color: var(--highlight);
  border-color: var(--highlight);
}
#navMenuContainer {
  border-color: var(--highlight);
}
.navMenu {
  background-color: var(--primary);
  color: var(--highlight);
  border-color: var(--highlight);
}
button {
  background-color: var(--button);
}

mark {
  color: var(--h3);
}
#advantages > li {
  background-color: var(--primary);
  color: var(--highlight);
  border: solid var(--highlight);
}

.footer {
  background-color: var(--primary);
  color: var(--highlight);
}

.linkedP:hover {
  background-color: var(--highlight);
  color: var(--accent);
}
.imageContainer {
  border-color: var(--highlight);
}
.roomPhotos {
  border-color: var(--highlight);
}

.bookRoomMini {
  color: var(--highlight);
  border-color: var(--highlight);
}

.stars {
  color: var(--highlight);
}
.roomPreview > i {
  color: var(--text);
}
