:root {
  --primary: #8b0000;
  --button: #6e0707;
  --secondary: #fac5c5;

  --main: #ffe4e0;
  --text: #000000;
  --h3: #600202;

  --highlight: #ffd700;
  --border: #600202;
}
.darkTheme {
  --primary: #000000;
  --button: #1d0365;

  --secondary: #130057;

  --main: #01002b;
  --h3: #94fff8;
  --text: #ffffff;

  --highlight: #65f7ff;
  --border: #060137;
}
.greenTheme {
  --primary: #227200;
  --button: #046512;

  --secondary: #3fc453;

  --main: #f3f8e9;
  --h3: #553400;
  --text: #000000;

  --highlight: #ffec5a;
  --border: #482c01ef;
}
body {
  background-color: var(--secondary);
}
main {
  background-color: var(--main);
  color: var(--text);
}
article {
  background-color: var(--main);
  color: var(--text);
}

h3 {
  color: var(--h3);
}
.header {
  background-color: var(--primary);
  color: var(--highlight);
}
#headerInfo {
  background-color: var(--primary);
}
a {
  color: var(--highlight);
}
.emoji {
  color: transparent;
  text-shadow: 0 0 0 var(--highlight);
}

#bookRoomContainer {
  background-color: var(--primary);
  color: var(--highlight);
  border-color: var(--highlight);
}
#navMenuContainer {
  border-color: var(--highlight);
}
.navMenu {
  background-color: var(--primary);
  color: var(--highlight);
  border-color: var(--highlight);
}
button {
  background-color: var(--button);
}

mark {
  color: var(--h3);
}
#advantages > li {
  background-color: var(--primary);
  color: var(--highlight);
  border: solid var(--highlight);
}

.footer {
  background-color: var(--primary);
  color: var(--highlight);
}

.linkedP:hover {
  background-color: var(--highlight);
  color: var(--border);
}
.imageContainer {
  border-color: var(--border);
}
.roomPhotos {
  border-color: var(--border);
}

.bookRoomMini {
  color: var(--highlight);
  border-color: var(--highlight);
}

.stars {
  color: var(--highlight);
}
.roomPreview > i {
  color: var(--text);
}

.phoneLinkText {
  color: var(--text);
}
.phoneLinkText:hover {
  background-color: var(--highlight);
  margin: 0.3rem;
  padding: 0.3rem;
  border-radius: 0.3rem;

  transition-duration: 1s;
}
.phoneLinkText > .emoji {
  color: transparent;
  text-shadow: 0 0 0 var(--border);
}

.galleryPhoto img {
  border-color: var(--border);
}

.vacLink {
  color: var(--border);
}
