.roomPreview {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 1.5rem;

  width: 10rem;
  padding: 1rem;
  border-radius: 2rem;
}
.roomPreview:hover {
  border: 2px solid var(--highlight);

  background-color: var(--article);
  box-shadow: 0 0 1rem #0000006a;
  transition: 0.5s;
}
.roomPreview > img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}
#roomsList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

mark {
  font-weight: bold;
  background-color: inherit;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding-top: 1rem;
}
main {
  margin: 0 10%;
}
article {
  margin-bottom: 5rem;
}
.roomArticle {
  margin: 0.5rem;
  display: flex;
  font-size: 1rem;
  gap: 1rem;
  padding-bottom: 2rem;
}

.roomPhotos {
  width: 40rem;
  height: auto;

  display: block;
  flex-shrink: 0;

  border: 5px solid;
}

.roomPhotos img {
  width: 40rem;
  height: auto;
  display: block;
}
.roomDescription {
  display: flex;
  flex-direction: column;
}
.infoDescription {
  margin-top: 0;
}
.bookRoomMini {
  padding: 1rem;
  border: 2px solid;
  border-radius: 1rem;
  align-self: center;
  font-size: 1rem;
}

@media (min-width: 1700px) {
  .roomArticle {
    margin: 2rem 10%;
  }
  .roomPhotos {
    width: 60%;
    border: 0.3rem solid;
  }
}

@media (max-width: 1160px) {
  main {
    margin: 0 5%;
  }
  article {
    margin-bottom: 4.5rem;
  }
}

@media (orientation: portrait) or (max-width: 900px) {
  main {
    margin: 0 5%;
  }
  .roomArticle {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
  }
  .roomPhotos {
    width: 80%;
    border: 4px solid;
  }
  .roomDescription {
    width: 70%;
  }
}

@media (max-width: 650px) {
  main {
    margin: 0 5%;
  }
  .roomArticle {
    margin: 2rem 0;
  }
  .roomPhotos {
    width: 90%;
    border: 3px solid;
  }
  .roomDescription {
    width: 90%;
  }
}

@media (max-width: 400px) {
  main {
    margin: 0 5%;
  }
  .roomArticle {
    margin: 1rem 0;
  }
  .roomPhotos {
    width: 96%;

    border: 2px solid;
  }
  .roomDescription {
    width: 90%;
  }
}

.roomPhotos {
  position: relative;
  overflow: hidden;
}

.roomPhotosSlides {
  width: 500%;
  height: 100%;
  display: flex;
}
.roomPhotosSlides input {
  display: none;
}
/*css for manual navigation*/
.sliderManual {
  position: absolute;
  margin-top: 23rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.manualButton {
  border: 2px solid black;

  padding: 5px;
  border-radius: 1rem;

  cursor: pointer;
  transition: 1s;
}

.manualButton:hover {
  background: black;
}

#Lux1:checked ~ .mainPhoto {
  margin-left: 0;
}
#Lux1:checked ~ .sliderManual #labelLux1,
#Lux2:checked ~ .sliderManual #labelLux2,
#Lux3:checked ~ .sliderManual #labelLux3,
#Lux4:checked ~ .sliderManual #labelLux4,
#Lux5:checked ~ .sliderManual #labelLux5 {
  background: var(--highlight);
}
#Lux2:checked ~ .mainPhoto {
  margin-left: -40rem;
}

#Lux3:checked ~ .mainPhoto {
  margin-left: -80rem;
}

#Lux4:checked ~ .mainPhoto {
  margin-left: -120rem;
}

#Lux5:checked ~ .mainPhoto {
  margin-right: -160rem;
}

.leftScroll,
.rightScroll {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 35%;
  width: 15%;
  height: 30%;
  background-color: black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftScroll {
  left: -1rem;
  border-radius: 0 10% 10% 0;
}

.rightScroll {
  right: -1rem;
  border-radius: 10% 0 0 10%;
}

.arrowLeft {
  margin: 0;
  width: 50%;
  height: 50%;
  clip-path: polygon(100% 0%, 100% 100%, 0% 50%);
  background-color: white;
}
.arrowRight {
  margin: 0;
  width: 50%;
  height: 50%;
  clip-path: polygon(0% 0%, 0% 100%, 100% 50%);

  background-color: white;
}

.unfading {
  opacity: 70%;
  visibility: hidden;
}
.roomPhotos:hover .unfading {
  visibility: visible;
  transition: 1s;
}
