.roomPreview {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 1.5rem;

  width: 10rem;
}
.roomPreview > img {
  width: 100%;
  height: auto;
}
#roomsList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.roomPhotos img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
mark {
  font-weight: bold;
  background-color: inherit;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding-top: 1rem;
}
main {
  margin: 0 10%;
}
article {
  margin-bottom: 5rem;
}
.roomArticle {
  margin: 0.5rem;
  display: flex;
  font-size: 1rem;
  gap: 1rem;
}

.roomPhotos {
  flex-shrink: 0;
  width: 60%;
  display: block;
}
.roomPhoto {
  width: 100%;
  display: block;
  border: 5px solid;
}
.roomDescription {
  display: flex;
  flex-direction: column;
}
.infoDescription {
  margin-top: 0;
}
.bookRoomMini {
  padding: 1rem;
  border: 2px solid;
  border-radius: 1rem;
  align-self: center;
  font-size: 1rem;
}

@media (min-width: 1700px) {
  .roomArticle {
    margin: 2rem 10%;
  }
}

@media (max-width: 1160px) {
  .roomArticle {
    margin: 2rem 5%;
  }
  .roomPhotos {
    width: 50%;
  }
  .roomPhoto {
    border: 4px solid;
  }
}

@media (orientation: portrait) or (max-width: 900px) {
  .roomArticle {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 5%;
  }
  .roomPhotos {
    width: 80%;
  }
  .roomDescription {
    width: 90%;
  }
  .roomPhoto {
    border: 4px solid;
  }
}

@media (max-width: 650px) {
  .roomArticle {
    margin: 1rem 5%;
  }
  .roomPhotos {
    width: 100%;
  }
  .roomDescription {
    width: 100%;
  }
  .roomPhoto {
    border: 3px solid;
  }
}

@media (max-width: 400px) {
  .roomArticle {
    margin: 1rem 3%;
  }
  .roomPhotos {
    width: 100%;
  }
  .roomDescription {
    width: 100%;
  }
  .roomPhoto {
    border: 2px solid;
  }
}
